*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #989788;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex; 
    justify-content: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display:  flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 40px;
}
.button{
    height: 18vmin;
    width: 18vmin;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 1rem black;
    font-size: 8vmin;
    color: #6B7D7D;
    background-color: aqua;
}
#reset-btn{
padding: 1rem;
font-size: 1.25rem;
background-color: #191913;
color: #fff;
border-radius: 1rem;
border: none;
}

#new-btn {
 padding: 1rem;
font-size: 1.25rem;
background-color: #191913;
color: #fff;
border-radius: 1rem;
border: none;
}
#msg{
    color: #ffffc7;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.hide{
    display: none;
}
.msg-container{
    height: 30vmin;
}